body {
    color: #fff;
    background-color: #11A27B;
    /* font-size: 40px; */
}

h1, h2, h3, h4, p {
    text-align:center;
}

hr{
    height: 1px;
    background-color: #11A27B;
    border: none;
}

h1, h2, h3 {
    color: #11A27B;
}

/*.appview-container {*/
/*    background: rgb(17,17,17);*/
/*    background: linear-gradient(0deg, rgba(30,30,30,1) 0%, rgba(15,17,22,255) 35%);*/
/*}*/

.stButton>button, .css-1q8dd3e {
    color: #11A27B;
    /*box-sizing: 5%;*/
    /*height: 5em;*/
    width: 100%;
    /*font-size:50px;*/
    border: 2px solid;
    border-radius: 10px;
    /*padding: 50px;*/
    justify-content: center;
    align-self: center;
    align-content: center;
    text-anchor: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}